@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Burası Blog Sınıfı</h1>
    <a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin area kısmına gider</a>
</div>
